.page-header
  = link_to clients_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_client_path(@client), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show client

%dl.dl-horizontal
  %dt Name:
  %dd= @client.name
  %dt Lastname:
  %dd= @client.lastname
  %dt Rut:
  %dd= @client.rut


.row
  .col-md-12.my-causas
    .grid.simple.can-collapse
      .grid-body
        %table.table.table-striped.datatable.display.responsive.no-wrap
          %thead
            %tr
              %th Identificador
              %th Caratulado
              %th Tribunal
              %th Competencia
              -#%th CA
              -#%th CS              
          %tbody
            -@client.general_causas.each do |d|
              -c=d.causa
              -user_causa = d.user_causas.find_by(account_id: @client.id)

              -unless c.nil?
                %tr
                  %td
                    %span
                      =c.identificator
                  %td
                    %span
                      =c.caratulado
                  %td
                    %span
                      =c.tribunal
                  %td
                    %span
                      =competencia(c.class.to_s)
                  

