= active_link_to 'Wiselink 1', wiselink1_path, { home: 'wiselink1' }, { :'data-push' => 'true' }
= active_link_to 'Wiselink 2', wiselink2_path, { home: 'wiselink2' }, { :'data-push' => 'true' }
= link_to_modal 'Open modal', modal_example_path

%h1 Hi, I'm wiselink_example_1

= "I'm a random number : #{Random.rand(0..100)}"