.page-header
  = link_to causas_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_causa_path(@causa), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show causa

%dl.dl-horizontal
  %dt Rol:
  %dd= @causa.rol
  %dt Date:
  %dd= @causa.date
  %dt Caratulado:
  %dd= @causa.caratulado
  %dt Tribunal:
  %dd= @causa.tribunal
