
.row
    .col-md-12.my-causas
        .grid.simple.can-collapse
            .grid-body
                %table.table.table-striped.datatable.display.responsive.no-wrap
                    %thead
                        %tr
                            %th Identificador
                            %th Caratulado
                            %th Tribunal
                            %th Competencia
                            -#%th CA
                            -#%th CS
                            %th Ret. Receptores
                            %th Ing. Cortes
                            %th Cambios Cortes
                            %th Ver
                            %th
                    %tbody
                        -general_causas.each do |d|
                            -c=d.causa
                            -user_causa = d.user_causas.find_by(account_id: lawyer.account.id)

                            -unless c.nil?
                                %tr
                                    %td
                                        %span
                                            =c.identificator
                                    %td
                                        %span
                                            =c.caratulado
                                    %td
                                        %span
                                            =c.tribunal
                                    %td
                                        %span
                                            =competencia(c.class.to_s)
                                    -#%td
                                        %span
                                            -#if c.apelaciones?
                                            -
                                    -#%td
                                        %span
                                            -#if c.suprema?
                                            -
                                    - unless user_causa.nil?
                                        %td
                                            %span
                                                -if c.class.to_s == "CivilCausa"
                                                    %input{type: "checkbox", "data-toggle"=>"switch", id:"custom-switch-01", checked: role_value(user_causa,:not1),class:'switch',name: "not1_#{user_causa.id}"}
                                                -else
                                                    ="-"
                                        %td
                                            %span
                                                %input{type: "checkbox", "data-toggle"=>"switch", id:"custom-switch-01", checked: role_value(user_causa,:not2),class:'switch',name: "not2_#{user_causa.id}"}
                                        %td
                                            %span
                                                %input{type: "checkbox", "data-toggle"=>"switch", id:"custom-switch-01", checked: role_value(user_causa,:not3),class:'switch',name: "not3_#{user_causa.id}"}
                                        %td
                                            %span
                                                = link_to "Ver", general_causa_path(d), class: "btn btn-primary"
                                        -if current_page? lawyer_causas_path(lawyer) and current_user.is? :admin
                                            %td
                                                %span
                                                    = form_tag('/accounts/remove_causa') do
                                                        = hidden_field_tag 'id',@account.id
                                                        = hidden_field_tag 'causa', d.id
                                                        = submit_tag 'Remover', class: 'btn btn-danger'



