#encoding: utf-8
%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Lastname:
  = @account.lastname
%p
  %b Rut:
  = @account.rut

= link_to 'Edit', edit_account_path(@account), class: "btn btn-primary"
= link_to 'Back', accounts_path, class: "btn btn-primary"
= link_to 'Change Password', edit_user_registration_path , class: "btn btn-primary"

-#.row{'ng-controller' => 'AddCausasController', 'ng-init' => "id = #{@account.id}"}
-# .col-md-12


.row
  .col-md-12
    %h4 Agregar nueva causa
    = form_tag do
      .col-md-8
        #causas-select-container.form-group
          = text_field_tag 'general_causa_id', '',class: 'form-control', name: 'general_causa_id', id: 'account_id'
      .col-md-4
        .form-group
          = submit_tag 'Agregar', class: 'btn btn-primary'


.row
  .col-md-12
    .form-group
      %label.form-label Seleccionar Cliente
      .controls
        = select_tag :general_causas_ids, options_for_select(Account.all.collect{|s| [s.name, s.id]}, Account.all.pluck(:id)),
                              {multiple: true, class: 'form-control', required: true, data: {behaviour: 'select2'}}



:javascript
  initBla('#causas-select-container');