#encoding: utf-8
%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Lastname:
  = @account.lastname
%p
  %b Rut:
  = @account.rut

= link_to 'Edit', edit_account_path(@account), class: "btn btn-primary"
= link_to 'Back', accounts_path, class: "btn btn-primary"
= link_to 'Change Password', edit_user_registration_path , class: "btn btn-primary"

-#.row{'ng-controller' => 'AddCausasController', 'ng-init' => "id = #{@account.id}"}
-# .col-md-12



.row
  .col-md-12
    %h4 Agregar nueva causa
    = form_tag('/accounts/add_causa') do
      .col-md-8
        #causas-select-container.form-group
          = text_field_tag 'causa', '',class: 'form-control', name: 'causa', id: 'account_id'
          = hidden_field_tag 'id',@account.id
      .col-md-4
        .form-group
          = submit_tag 'Agregar', class: 'btn btn-primary'


.row
  .col-md-12
    .form-group
      %label.form-label Seleccionar Cliente
      .controls
        = select_tag :general_causas_ids, options_for_select(Account.all.collect{|s| [s.name, s.id]}, Account.all.pluck(:id)),
                              {multiple: true, class: 'form-control', required: true, data: {behaviour: 'select2'}}


.row
  .col-md-12
    .grid.simple.can-collapse
      .grid-title
        %h4.semi-bold Causas
        .tools
          %a.marg-t-10.collapse
      .grid-body
        %table.table
          %thead
            %tr
              %th RIT
              %th RUC
              %th Caratulado
              %th Tribunal
          %tbody
            -@account.general_causas.each do |d|
              -c=d.causa
              %tr
                %td
                  %span
                    =c.rit
                %td
                  %span
                    =c.ruc
                %td
                  %span
                    =c.caratulado
                %td
                  %span
                    =c.tribunal



:javascript
  initBla('#causas-select-container');
  $(".select2-search").show();