#encoding: utf-8
%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Lastname:
  = @account.lastname
%p
  %b Rut:
  = @account.rut

= link_to 'Edit', edit_account_path(@account), class: "btn btn-primary"
= link_to 'Back', accounts_path, class: "btn btn-primary"
= link_to 'Change Password', edit_user_registration_path , class: "btn btn-primary"

-#.row{'ng-controller' => 'AddCausasController', 'ng-init' => "id = #{@account.id}"}
-# .col-md-12



